<h1>Olá, {{currentUser.firstName}}!</h1>
<h3>Usuários cadastrados:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Deletar</a>
    </li>
</ul>